<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WPA</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha384-wjBRdR1JdMeepqI8r0l1RDCMqIM3IibeqBfRW93RNOGIBHFBQSmVG5nMEs8PEFpP"
      crossorigin="anonymous"
    />

    <!-- swiper css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo"><i class="bx bx-wrench"></i> W P A</a>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#portfolio">Our Team</a>
        <a href="#contact">Contact</a>
        <a href="http://127.0.0.1:5000/user_dash">User_Dash</a>
      </nav>

      <div class="bx bx-moon" id="darkMode-icon"></div>

      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <!-- home section design -->
    <section class="home" id="home">
      <div class="home-content">
        <h3>WELCOME !</h3><br>
        <h1>
          Water
          Potability Analysis
        </h1>
        <p>
          Develop a real-time system using existing datasets to assess water potability based on specified parameters. When water is deemed non-potable, the system will provide detailed reasons and levels of contaminants present, ensuring accurate information for safe water consumption.

        </p>

      </div>

      <div class="profession-container">
        <div class="profession-box">
          <div class="profession" style="--i: 0">
            <i class="bx bx-desktop"></i>
            <h3>Water</h3>
          </div>
          <div class="profession" style="--i: 1">
            <i class="bx bx-wrench"></i>
            <h3>Potability</h3>
          </div>
          <div class="profession" style="--i: 2">
            <i class="bx bx-desktop"></i>
            <h3>Water</h3>
          </div>
          <div class="profession" style="--i: 3">
            <i class="bx bx-wrench"></i>
            <h3>Potability</h3>
          </div>

          <div class="circle"></div>
        </div>

        <div class="overlay"></div>
      </div>

      <div class="home-img">
        <img src="/static/home1.png" alt="" />
      </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="/static/about1.png" alt="" />
      </div>

      <div class="about-content">
        <h2 class="heading">About <span>Us</span></h2>
        <h3>
          Hi there, welcome to our website!
        </h3>
        <p>
          Water potability management refers to the processes and practices involved in ensuring that water is safe to drink. Access to clean and safe drinking water is a fundamental human right and essential for health and well-being. Effective water potability management requires a multifaceted approach, encompassing source protection, treatment, distribution, monitoring, and public education. This essay will explore the various aspects of water potability management and its significance in safeguarding public health.
        </p>
        <p>
            The Service or Repair Management project is a comprehensive
            solution designed to efficiently oversee and optimize service or
            The first step in water potability management is protecting water sources from contamination. Water sources, such as rivers, lakes, and groundwater, can be polluted by various contaminants, including industrial discharges, agricultural runoff, and sewage. Effective source protection involves implementing policies and practices that minimize these risks. This can include zoning regulations to prevent industrial activities near water sources, promoting sustainable agricultural practices to reduce pesticide and fertilizer runoff, and ensuring proper waste disposal systems to prevent sewage contamination.
        </p>
      </div>
    </section>
  </section>

  

  <!-- portfolio section design -->
  <section class="portfolio" id="portfolio">
    <div class="testimonial-container">
        <h2 class="heading">OUR <span>TEAM</span></h2>

        <div class="testimonial-wrapper">
            <div class="testimonial-box mySwiper">
                <div class="testimonial-content swiper-wrapper">
                    
                    <div class="testimonial-slide swiper-slide">
                        <img src="static/puneeth.jpg" alt="">
                        <h3>Puneeth A S</h3>
                        <p>
                            Jnnce, Shimoga</br>
                            USN: 4JN21AI038,</br>
                            Contact No: 6363679530,</br>
                            Email: puneethas_aiml@jnnce.ac.in
                        </p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="/static/khushan.png" alt="">
                        <h3>Khushan G H</h3>
                        <p> 
                          Jnnce, Shimoga</br>
                          USN: 4JN22AI022,</br>
                          Contact No: 8861153565,</br>
                          Email: kushangowda@jnnce.ac.in
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="C://Users//punee//OneDrive//Desktop//IBM-hack//resources//images//sunidhi.jpg" alt="">
                        <h3>Sunidhi</h3>
                        <p>
                          Jnnce, Shimoga</br>
                          USN: 4JN22AI053,</br>
                          Contact No: 9731340713,</br>
                          Email: sunidhi_aiml@jnnce.ac.in
                        </p>
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

</section>


    <!-- contact section design -->
    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Us!</span></h2>

      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email Address" />
        </div>
        <div class="input-box">
          <input type="number" placeholder="Mobile Number" />
          <input type="text" placeholder="Email Subject" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <input type="submit" value="Send Message" class="btn" />
      </form>
    </section>

    <!-- footer design -->
    <footer class="footer">
      <div class="footer-text">
        <p>Thank you for visiting W P A</p>
      </div>

      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- custom js -->
    <script src="../static/js/script.js"></script>
    <script>
      // Assuming you have a reference to the cancel icon
      const cancelIcon = document.getElementById('cancelIcon');
    
      // Add a click event listener
      cancelIcon.addEventListener('click', function() {
        // Redirect to the home page (adjust the URL as needed)
        <a href="#home"></a>
      });
    </script>
  </body>
</html>