<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User Page</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="../static/css/user-dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      #wrenchIcon {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bx-wrench" id="wrenchIcon"></i>
        <div class="logo_name">W P A</div>
        <i class="bx bx-menu" id="btn" onclick="toggleWrench()"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a id="i1">
            <i class="bx bx-user"></i>
            <span class="links_name">Add csv</span>
          </a>
          <span class="tooltip">Add csv</span>
        </li>
        <li>
          <a id="i2">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Predict</span>
          </a>
          <span class="tooltip">Predict</span>
        </li>
        <li>
          <a id="i4">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Chat</span>
          </a>
          <span class="tooltip">Chat</span>
        </li>
        
        
        
      </ul>
    </div>
    <section class="home-section">
      <div class="text">User Dashboard</div>
      <div id="pageContent"></div>
      <!--<img src="static/about1.png" alt="">
      <p>Service And Repair Management</p> -->
    </section>
    <script src="../static/js/user-dashboard.js"></script>
    <script>
      function toggleWrench() {
        var wrenchIcon = document.getElementById("wrenchIcon");

        // Toggle the display property of the wrench icon
        if (
          wrenchIcon.style.display === "none" ||
          wrenchIcon.style.display === ""
        ) {
          wrenchIcon.style.display = "inline-block"; // or any other desired display property
        } else {
          wrenchIcon.style.display = "none";
        }
      }

      function loadPage(pageURL) {
        // Fetch the content of the page
        fetch(pageURL)
          .then((response) => response.text())
          .then((data) => {
            // Set the content of the pageContent container
            document.getElementById("pageContent").innerHTML = data;
          })
          .catch((error) => console.error("Error fetching page:", error));
      }
    </script>

    <script>
      $(document).ready(function () {
        $("#i1").click(function () {
          $.ajax({
            url: "http://127.0.0.1:5000/show",
            type: "GET",
            data: { uname: "" },
            success: function (data) {
              $("#pageContent").html(data);
            },
          });
        });

        $("#i2").click(function () {
          $.ajax({
            url: "http://127.0.0.1:5000/predict",
            type: "GET",
            data: { uname: "" },
            success: function (data) {
              $("#pageContent").html(data);
            },
          });
        });

        $("#i4").click(function () {
          $.ajax({
            url: "http://127.0.0.1:5000/chat",
            type: "POST",
            data: { uname: "" },
            success: function (data) {
              $("#pageContent").html(data);
            },
          });
        });

      });
    </script>
  </body>
</html>